<!DOCTYPE html>
<html>
<head>
  <title>Adeia</title>
  <%= stylesheet_link_tag 'adeia/application', media: 'all' %>
  <%= javascript_include_tag 'adeia/application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'layouts/adeia/flash' %>

  <%= render 'layouts/adeia/sidebar' %>

  <%= yield %>

</body>
</html>
