<!DOCTYPE html>
<html>
<head>
  <title>Test App</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div>
  <% if current_user.nil? %>
    <%= link_to "Login", login_path %>
  <% else %>
    <%= current_user.name %> | <%= link_to "Logout", logout_path %>
  <% end %>
</div>

<%= yield %>

</body>
</html>
